body{
    background: white;
    font-family: 'montserrat';
}
.cointeyner{
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
button{
    cursor: pointer;
}
ul,ol{
    list-style: none;
}
body a{
    text-decoration: none;
}